html{
    font-size: 10px;
}

html,
body{
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
    width: 90%;
    margin: 0 auto;
  }
  .row{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }